In [1]:
import pandas as pd

data = pd.read_csv('mul_reg.csv')

In [5]:
state = pd.get_dummies(data['State'])
data = data.join(state)

ValueError: columns overlap but no suffix specified: Index(['California', 'Florida', 'New York'], dtype='object')

In [6]:
data = data.drop(['State'],axis=1)
data.head()

,R&D Spend,Administration,Marketing Spend,Profit,California,Florida,New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [7]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'California', 'Florida', 'New York'],
      dtype='object')

In [8]:
columns = ['R&D Spend', 'Administration', 'Marketing Spend',
       'California', 'Florida', 'New York','Profit']

data = data[columns]
data.head()

,R&D Spend,Administration,Marketing Spend,California,Florida,New York,Profit
0,165349.20,136897.80,471784.10,0,0,1,192261.83
1,162597.70,151377.59,443898.53,1,0,0,191792.06
2,153441.51,101145.55,407934.54,0,1,0,191050.39
3,144372.41,118671.85,383199.62,0,0,1,182901.99
4,142107.34,91391.77,366168.42,0,1,0,166187.94

In [9]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [12]:
x = pd.DataFrame(x)
x.columns = ['R&D Spend', 'Administration', 'Marketing Spend',
       'California', 'Florida', 'New York']
x['intercept']=1

In [15]:
x.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'California',
       'Florida', 'New York', 'intercept'],
      dtype='object')

In [21]:
vif = pd.DataFrame()
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif['variable']=x.columns

vif['vif']= [variance_inflation_factor(x.values,i)
             for i in range(x.shape[1])]

In [22]:
vif

          variable        vif
0        R&D Spend   2.495511
1   Administration   1.177766
2  Marketing Spend   2.416797
3          Florida   1.387641
4         New York   1.335061
5        intercept  26.600153

In [20]:
x = x.drop(['California'],axis=1)

In [25]:
x = x.values

In [32]:
x

array([[1.6534920e+05, 1.3689780e+05, 4.7178410e+05, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [1.6259770e+05, 1.5137759e+05, 4.4389853e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [1.5344151e+05, 1.0114555e+05, 4.0793454e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [1.4437241e+05, 1.1867185e+05, 3.8319962e+05, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [1.4210734e+05, 9.1391770e+04, 3.6616842e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [1.3187690e+05, 9.9814710e+04, 3.6286136e+05, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [1.3461546e+05, 1.4719887e+05, 1.2771682e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [1.3029813e+05, 1.4553006e+05, 3.2387668e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [1.2054252e+05, 1.4871895e+05, 3.1161329e+05, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [1.2333488e+05, 1.0867917e+05, 3.0498162e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [1.0191308e+05, 1.1059411e+05, 2.2916095e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [1.0067196e+05, 9.1790610e+04, 2.4974455e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [9.3863750e+04, 1.2732038e+05, 2.4983944e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [9.1992390e+04, 1.3549507e+05, 2.5266493e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [1.1994324e+05, 1.5654742e+05, 2.5651292e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [1.1452361e+05, 1.2261684e+05, 2.6177623e+05, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [7.8013110e+04, 1.2159755e+05, 2.6434606e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [9.4657160e+04, 1.4507758e+05, 2.8257431e+05, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [9.1749160e+04, 1.1417579e+05, 2.9491957e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [8.6419700e+04, 1.5351411e+05, 0.0000000e+00, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [7.6253860e+04, 1.1386730e+05, 2.9866447e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [7.8389470e+04, 1.5377343e+05, 2.9973729e+05, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [7.3994560e+04, 1.2278275e+05, 3.0331926e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [6.7532530e+04, 1.0575103e+05, 3.0476873e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [7.7044010e+04, 9.9281340e+04, 1.4057481e+05, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [6.4664710e+04, 1.3955316e+05, 1.3796262e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [7.5328870e+04, 1.4413598e+05, 1.3405007e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [7.2107600e+04, 1.2786455e+05, 3.5318381e+05, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [6.6051520e+04, 1.8264556e+05, 1.1814820e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [6.5605480e+04, 1.5303206e+05, 1.0713838e+05, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [6.1994480e+04, 1.1564128e+05, 9.1131240e+04, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [6.1136380e+04, 1.5270192e+05, 8.8218230e+04, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [6.3408860e+04, 1.2921961e+05, 4.6085250e+04, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [5.5493950e+04, 1.0305749e+05, 2.1463481e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [4.6426070e+04, 1.5769392e+05, 2.1079767e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [4.6014020e+04, 8.5047440e+04, 2.0551764e+05, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [2.8663760e+04, 1.2705621e+05, 2.0112682e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [4.4069950e+04, 5.1283140e+04, 1.9702942e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [2.0229590e+04, 6.5947930e+04, 1.8526510e+05, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [3.8558510e+04, 8.2982090e+04, 1.7499930e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [2.8754330e+04, 1.1854605e+05, 1.7279567e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [2.7892920e+04, 8.4710770e+04, 1.6447071e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [2.3640930e+04, 9.6189630e+04, 1.4800111e+05, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [1.5505730e+04, 1.2738230e+05, 3.5534170e+04, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [2.2177740e+04, 1.5480614e+05, 2.8334720e+04, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [1.0002300e+03, 1.2415304e+05, 1.9039300e+03, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [1.3154600e+03, 1.1581621e+05, 2.9711446e+05, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [0.0000000e+00, 1.3542692e+05, 0.0000000e+00, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [5.4205000e+02, 5.1743150e+04, 0.0000000e+00, 0.0000000e+00,
        1.0000000e+00, 1.0000000e+00],
       [0.0000000e+00, 1.1698380e+05, 4.5173060e+04, 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00]])

In [26]:
y

array([192261.83, 191792.06, 191050.39, 182901.99, 166187.94, 156991.12,
       156122.51, 155752.6 , 152211.77, 149759.96, 146121.95, 144259.4 ,
       141585.52, 134307.35, 132602.65, 129917.04, 126992.93, 125370.37,
       124266.9 , 122776.86, 118474.03, 111313.02, 110352.25, 108733.99,
       108552.04, 107404.34, 105733.54, 105008.31, 103282.38, 101004.64,
        99937.59,  97483.56,  97427.84,  96778.92,  96712.8 ,  96479.51,
        90708.19,  89949.14,  81229.06,  81005.76,  78239.91,  77798.83,
        71498.49,  69758.98,  65200.33,  64926.08,  49490.75,  42559.73,
        35673.41,  14681.4 ])

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,
                                                random_state=0)

In [28]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

reg.fit(x_train,y_train)

LinearRegression()

In [29]:
print(reg.intercept_)
print(reg.coef_)

41049.2380943647
[ 7.80990589e-01  4.57976214e-02  3.35420038e-02 -5.21787358e+02
  1.11511973e+01  0.00000000e+00]

In [30]:
y_pred = reg.predict(x_test)

In [31]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
r2_score(y_test,y_pred)

0.931581519915206